<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test_suite">
    <test name="Test Homepage Functionality">
        <classes>
            <class name="com.cura.test.home.HomepageFunctionalityTest"/>
        </classes>
    </test>
    <test name="Test Login Functionality">
        <classes>
            <class name="com.cura.test.login.UserLoginTest"/>
        </classes>
    </test>
    <test name="Test Appointment Form">
        <classes>
            <class name="com.cura.test.appointment.MakeAppointmentTest"/>
        </classes>
    </test>
    <test name="Test History Page">
        <classes>
            <class name="com.cura.test.history.CheckHistoryTest"/>
        </classes>
    </test>
    <test name="Test Logout">
        <classes>
            <class name="com.cura.test.logout.UserLogoutTest"/>
        </classes>
    </test>
</suite>